body {
    padding-top: 55px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.jumbotron {
    background-color: transparent !important;
}

img {
    height: 412px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jumbo-text {
    text-align: center;
}